# binaries
*.[oa]
*.la
*.lo
*.so
*.so.*
*.d
# package files
*.tar.gz
*.build
*.Rcheck
*.cache
*~
# emacs backup
# Rproj files
.Rproj.user
# Build files
config.*
src/config.h
src/texput.log
src/Makevars

## Comment
#*.Rproj
#*.Rbuildignore

